/* initial file */


.jumbo {

    margin: 10px;
    padding: 10px;

}


.left {
    display: inline;
    justify-content: start;
}


.planet-circle {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
}


.starship-square {
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 15%;
    display: inline-block;
}

.starship-triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}